*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

### 내가 추가한 gitignore 목록
# 애드몹 광고 단위 ID
/app/src/main/res/values/admob.xml
# 실행 파일 (파일 크기가 너무 큼)
app/release